<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1 th:text="${title}">Employee List</h1>
    <table class="table">
        <tr>
            <th>Ma NV</th>
            <th>Ten NV</th>
            <th>Gioi Tinh</th>
            <th>Noi Sinh</th>
            <th>Ten Phong</th>
            <th>Luong</th>
            <th>Action</th>
        </tr>
        <tr th:each="nhanvien : ${nhanviens}">
            <td th:text="${nhanvien.maNV}"></td>
            <td th:text="${nhanvien.tenNV}"></td>
            <td>
                <img th:src="@{${nhanvien.phai == 'NU' ? '/images/woman.jpg' : '/images/man.jpg'}}"
                     style="width: 30px; height: 30px;">
            </td>
            <td th:text="${nhanvien.noiSinh}"></td>
            <td th:text="${nhanvien.phongBan.tenPhong}"></td>
            <td th:text="${nhanvien.luong}"></td>
            <td>
                <a th:href="@{/nhanvien/edit/{id}(id=${nhanvien.maNV})}">Edit</a> |
                <a th:href="@{/nhanvien/delete/{id}(id=${nhanvien.maNV})}" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
    </table>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
